{% extends "app/_base.html" %}
{% block content %}

<h1 class="mb-5">Newton's 2nd Law Calculator</h1>

<form method="POST" class="row g-3">
    {% csrf_token %}

    <!-- Mass input -->
    <div class="col-md-auto">
        <label for="mass" class="form-label">Mass</label>
        <div class="input-group">
            <input class="form-control" type="number" step="0.01" min="0" value="{{ mass }}" id="mass" name="mass"
                required>
            <span class="input-group-text">kg</span>
        </div>
    </div>

    <!-- Acceleration input -->
    <div class="col-md-auto">
        <label for="accel" class="form-label">Acceleration</label>
        <div class="input-group">
            <input class="form-control" type="number" step="0.01" min="0" value="{{ accel }}" id="accel" name="accel"
                required>
            <span class="input-group-text">m/s&sup2;</span>
        </div>
    </div>

    <!-- Calculate process -->
    <div class="col-md-auto">
        <label for="calculate" class="form-label">F = m &times; a </label>
        <button class="btn btn-primary d-block" id="calculate" name="calculate">Calculate</button>
    </div>

    <!-- Force output -->
    <div class="col-md-auto">
        <label for="force" class="form-label">Force</label>
        <div class="input-group">
            <input class="form-control" value="{{ force }}" id="force" name="force" disabled>
            <span class="input-group-text">N</span>
        </div>
    </div>
</form>

{% endblock content %}