{% extends "app/_base.html" %}
{% load static %}
{% block content %}

<h1>Newton's 2nd Law Calculator</h1>
<h3 class="mb-5 text-muted">JavaScript</h3>

<!-- Mass input -->
<div class="col-lg-4">
    <label for="mass" class="form-label">Mass, m</label>
    <div class="input-group">
        <input class="form-control" type="number" step="0.01" min="0" value="{{ mass }}" id="mass" name="mass"
            required>
        <span class="input-group-text">kg</span>
    </div>
</div>

<!-- Acceleration input -->
<div class="col-lg-4">
    <label for="accel" class="form-label">Acceleration, a</label>
    <div class="input-group">
        <input class="form-control" type="number" step="0.01" min="0" value="{{ accel }}" id="accel" name="accel"
            required>
        <span class="input-group-text">m/s&sup2;</span>
    </div>
</div>

<!-- Force output -->
<div class="col-lg-4 mt-5">
    <label for="force" class="form-label">Force, F = m &times; a</label>
    <div class="input-group">
        <input class="form-control" value="{{ force }}" id="force" name="force" disabled>
        <span class="input-group-text">N</span>
    </div>
</div>

<script src="{% static 'app/3-newton-js.js' %}"></script>

{% endblock content %}