{% extends "app/_base.html" %}
{% load static %}
{% block content %}

<h1>Vibration Absorber Designer</h1>
<h3 class="mb-5 text-muted">Parameter-Select Edition</h3>

<div class="row">
    <div class="col-md-6 mt-3 order-md-2">
        <figure class="figure">
            <img class="figure-img img-fluid" src="{% static 'app/5-vad.png' %}" alt="">
            <figcaption class="figure-caption">
                <b>Figure:</b> Illustration of a vibration absorber with the parameters involved.
            </figcaption>
        </figure>
    </div>

    <div class="col-md-6 mt-3 order-md-1">
        <small class="text-muted">
            Select a parameter to be calculated:
        </small>
        <form method="POST" class="mt-2 g-3" id="form">
            {% csrf_token %}

            <!-- Inputs -->
            <div class="row g-2">
                {% for key, val in inputs.items %}
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 ms-2">
                                <input class="form-check-input" type="radio" name="check-parameter" id="check-parameter"
                                    value="{{ key }}"
                                    {% if forloop.first %} checked {% endif %}>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="form-floating">
                                    <input class="form-control input-field" type="number" min=0 step="any" id="{{ key }}" name="{{ key }}" value="{{ val.value }}" required>
                                    <label for="{{ key }}">{{ key|capfirst }}, {{ val.sym }} ({{ val.unit }})</label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Actions buttons -->
            <div class="d-grid gap-2 d-md-flex mt-4 mb-4">
                <button class="btn btn-lg btn-primary" id="calculate" type="submit" name="calculate">
                    <span class="spinner-grow spinner-grow-sm" id="loader" style="display:none; vertical-align:baseline;"></span>
                    <span id="calculate_txt">Calculate</span>
                </button>
                <button class="btn btn-lg btn-outline-secondary" type="button" id="sample">
                    Sample
                </button>
                <div class="ms-md-auto d-grid">
                    <button class="btn btn-lg btn-outline-danger" type="button" id="reset">
                        Reset
                    </button>
                </div>
            </div>

            <ul class="list-group">
                <small>
                    <li class="list-group-item">
                        Design formula reference:
                        <br>
                        <a href="https://www.maintenance.org/fileSendAction/fcType/0/fcOid/458854209381134028/filePointer/458854209383048564/fodoid/458854209383048560/DynamicAbsorber%20Explanation.pdf">
                            Randy Fox (n.d.). Dynamic Absorbers for Solving Resonance Problems
                        </a>
                    </li>
                    <li class="list-group-item">
                        Sample experiment reference:
                        <br>
                        <a href="http://www.arpnjournals.org/jeas/research_papers/rp_2021/jeas_1221_8791.pdf">
                            Luqmaan Hakiem Sulaiman et al. (2021). An Empirical Study on the Effectiveness of Energy Harvesting from Dynamic Vibration Absorber.
                            ARPN Journal of Engineering and Applied Sciences, <i>16</i>(24).
                        </a>
                    </li>
                </small>
            </ul>
    </div>
</div>

</form>
</div>
</div>
<script src="{% static 'app/6-vad-pse.js' %}"></script>

{% endblock content %}