{% extends "app/_base.html" %}
{% load static %}
{% block content %}

<!-- Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>VDI 3842 Vibration Chart Evaluator</h1>

<div class="row mt-4">
    <div class="col-lg-6 mt-3 order-md-2">
        <canvas id="chart-vdi"></canvas>
    </div>

    <div class="col-lg-6 mt-3 order-md-1">
        <form id="form">
            <div class="row g-2 mb-2">

                <!-- Frequency label -->
                <div class="col-4">
                    <small class="form-label">Frequency</small>
                </div>

                <!-- Velocity label -->
                <div class="col-4">
                    <small class="form-label">Velocity</small>
                </div>

                <!-- category label -->
                <div class="col-4">
                    <small class="form-label">Category</small>
                </div>
            </div>

            <div class="row g-2 mb-4">
                <!-- Frequency input -->
                <div class="col-4">
                    <input class="form-control" type="number" step="0.01" min="1" max="300" id="input-frequency" placeholder="Hz" required>
                </div>

                <!-- Velocity input -->
                <div class="col-4">
                    <input class="form-control" type="number" step="0.01" min="1" max="100" id="input-velocity" placeholder="mm/s RMS" required>
                </div>

                <!-- Category field -->
                <div class="col-4">
                    <input class="form-control" id="input-category" disabled>
                </div>
            </div>


            <div class="d-grid gap-2 d-flex mt-4 mb-4">

                <!-- Evaluate button -->
                <button class="btn btn-primary" id="btn-evaluate" type="submit">
                    <span class="spinner-grow spinner-grow-sm" id="loader" style="display: none;"></span>
                    <span id="evaluate_label">Evaluate</span>
                </button>

                <!-- Random button -->
                <div class="ms-auto d-grid">
                    <button class="btn btn-outline-secondary" id="btn-random" type="submit">
                        Random
                    </button>
                </div>
            </div>

            <!-- Range slider for frequency -->
            <small for="customRange1" class="form-label">Frequency slider (1-300 Hz)</small>
            <input type="range" class="form-range" id="range-frequency" min="1" max="300" step="0.01">

            <!-- Range slide for velocity -->
            <small for="customRange1" class="form-label">Velocity slider (1-100 mm/s RMS)</small>
            <input type="range" class="form-range" id="range-velocity" min="1" max="100" step="0.01">

        </form>
    </div>
</div>

<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'app/7-vdi.js' %}"></script>

{% endblock content %}